
***********************************************************

Welcome to {{ansible_distribution_file_search_string}} {{ansible_system}} {{ansible_distribution_version}} ({{ansible_distribution_release}})

  Hostname:	{{ansible_hostname}}
  IP Address:	{{ansible_default_ipv4["address"]}}
  vCPU:		{{ansible_processor_vcpus}}
  Memory:	{{ (ansible_memtotal_mb/1024+1)|int|abs }} GB 
  Swap:		{{ (ansible_swaptotal_mb/1024*1.01)|int|abs }} GB
  Kernel:	{{ansible_kernel}}

***********************************************************

